page-register {
    text-align: center;
    ion-input {
        color: color($colors, primary);
    }
    p {
        color: color($colors, text);
        font-size: 10px;
    }
    ion-toolbar {
        text-align: center;
    }
    .toolbar-md {
        min-height: 0px;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        background-color: transparent;
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 transparent;
    }
    /* .footer-bg {
        background-color: rgb(35, 35, 216);
        color: rgb(0, 0, 0);
    } */
    ion-item {
        background-color: rgba(95, 94, 74, 0.6274) !important;
    }
    .button-outline-md-secondary {
        font-size: 20px;
        font-weight: bolder;
    }
    ion-title {
        font-size: 50px;
    }
}