page-chat {
    .innerMessage {
        display: inline-block;
        padding: 5px 10px;
        background: #c1c1c1;
        margin: 5px;
        color: white;
        border-radius: 10%;
    }
    .innerMessage.messageRight {
        background: color($colors, 'myMsg');
    }
    .username {
        font-weight: bold;
        color: #F44336;
    }
    .messageRight .username {
        color: #3f51b5;
    }
    .message {
        font-size: 120%;
    }
    .elem button {
        border-radius: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .elem {
        position: relative;
        min-width: 50px;
    }
    div#footer div.elem:first-child {
        flex-grow: 1;
    }
    div#footer {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    ion-input {
        padding-left: 15px;
        font-size: 125%;
    }
    ion-toolbar {
        margin: 0;
        padding: 0!important;
    }
    .message:after {
        content: '';
        display: block;
        clear: both;
    }
    .messageLeft {
        float: left;
    }
    .messageRight {
        float: right;
        text-align: right;
    }
    .messageRight .messageContent {
        text-align: right;
    }
    .messageContent {
        color: black;
        margin-top: 10px;
        display: inline-block;
        padding: 0 10px;
    }
    .message.special .innerMessage:before {
        content: '';
        height: 2px;
        background: #eee;
        display: block;
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: -1;
    }
    .message.special .innerMessage {
        background: transparent;
        color: black;
        font-size: 80%;
        width: 100%;
        float: none;
        text-align: center;
        position: relative;
    }
    .button-default {
        background-color: #8bc34a;
    }
}